  * {
        bg: #272822;
        background-color: @bg;
    }

    configuration {
	    show-icons: true;
	    icon-theme: "Papirus";
	    location: 0;
	    font: "JetBrainsMono Nerd Font 12";
	    display-drun: "Launch:";
    }

    window {
	    width: 45%;
	    transparency: "real";
	    orientation: vertical;
	    border-color: #f92672;
        border-radius: 10px;
    }

    mainbox {
	    children: [inputbar, listview];
    }


    // ELEMENT
    // -----------------------------------

    element {
	    padding: 4 12;
	    text-color: #272822;
        border-radius: 5px;
    }

    element selected {
	    text-color: #f8f8f2;
	    background-color: #f92672;
    }

    element-text {
	    background-color: inherit;
	    text-color: inherit;
    }

    element-icon {
	    size: 16 px;
	    background-color: inherit;
	    padding: 0 6 0 0;
	    alignment: vertical;
    }

	element.selected.active {
		background-color: #272822;
		text-color: #f8f8f2;
	}

	element.alternate.normal {
		background-color: #272822;
		text-color: #f8f8f2;
	}


	element.alternate.active {
		background-color: #f92672;
		text-color: #f8f8f2;
	}

	element.selected.normal {
		background-color: #f92672;
		text-color: #272822;
	}


	element.normal.active {
		background-color: #272822;
		text-color: #f8f8f2;
	}


	element.normal.normal {
		background-color: #272822;
		text-color: #f8f8f2;
	}

	element.normal.urgent {
		background-color: #f92672;
		text-color: #272822;
	}



    listview {
	    columns: 2;
	    lines: 9;
	    padding: 8 0;
	    fixed-height: true;
	    fixed-columns: true;
	    fixed-lines: true;
	    border: 0 10 6 10;
    }

    // INPUT BAR
    //------------------------------------------------

    entry {
	    text-color: #ae81ff;
	    padding: 10 10 0 0;
	    margin: 0 -2 0 0;
    }

    inputbar {
	    padding: 10 0 0;
	    margin: 0 0 0 0;
    }

    prompt {
	    text-color: #66d9ef;
	    padding: 10 6 0 10;
	    margin: 0 -2 0 0;
    }

